// Base colours (taken from http://clrs.cc)
$color-navy: #024;
$color-blue: #07d;
$color-aqua: #7df;
$color-teal: #3cc;
$color-olive: #3d9970;
$color-green: #2ecc40;
$color-lime: #0f7;
$color-yellow: #fd0;
$color-orange: #ff851b;
$color-red: #f43;
$color-fuchsia: #f012be;
$color-purple: #b10dc9;
$color-maroon: #85144b;

// Base shades
$color-white: #fff;
$color-grey-lightest: #eee;
$color-grey-light: #aaa;
$color-grey: #777;
$color-grey-dark: #444;
$color-grey-darkest: #111;
$color-black: #000;

// Social brand colors
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google-plus: #dc4e41;
$color-youtube: #cd201f;
$color-instagram: #125688;

// Colour assignments
$color-highlight: $color-yellow;
$color-confirm: $color-green;
$color-warn: $color-red;

$color-link: $color-blue;
$color-link-hover: scale-color($color-blue, lightness, 25%);
$color-link-active: scale-color($color-blue, lightness, 50%);
