<html lang="en-gb" dir="ltr">

    <head>
        <link rel="stylesheet" href="/assets/styles/app.css"/>
        <title>h1-6 — Headings</title>
    </head>

    <body>
        <!-- Start: @h--default -->
<h1>Heading 1</h1>
<!-- End: @h--default -->

<!-- Start: @h--2 -->
<h2>Heading 2</h2>
<!-- End: @h--2 -->

<!-- Start: @h--3 -->
<h3>Heading 3</h3>
<!-- End: @h--3 -->

<!-- Start: @h--4 -->
<h4>Heading 4</h4>
<!-- End: @h--4 -->

<!-- Start: @h--5 -->
<h5>Heading 5</h5>
<!-- End: @h--5 -->

<!-- Start: @h--6 -->
<h6>Heading 6</h6>
<!-- End: @h--6 -->

    </body>

</html>

