<html lang="en-gb" dir="ltr">

    <head>
        <link rel="stylesheet" href="/assets/styles/app.css"/>
        <title>Default</title>
    </head>

    <body>
        <figure>
    <blockquote>
    A thing may be right and beautiful and true without being lovable, though a thing cannot be lovable without being also in itself right and beautiful and true.

Love is the harmony which such a thing awakes in the emotions; it is the harmony of what it feels to be. It adds the heart, as we call it, to the conscience, the sense, and the mind, to make the four great organs of being.

</blockquote>


    
        
        <figcaption>
    Frank Pick, Lecture at the [Royal Scottish Academy](http://example.com), 1916

</figcaption>

    
</figure>

    </body>

</html>

