// Grids
@mixin grid($columns: null, $wrap-units: false) {
    @if $columns {
        @if $columns < 1 {
            $width: 100% * $columns;
        } @else {
            $width: 100% / $columns;
        }

        width: $width;
    }

    display: flex;
    justify-content: flex-start;

    @if $wrap-units == true {
        flex-wrap: wrap;
    }
}

@mixin grid-unit($columns: null, $end: false) {
    flex: 1;
    flex-grow: 0;

    @if $columns {
        @if $columns < 1 {
            $width: 100% * $columns;
        }

        @else {
            $width: 100% / $columns;
        }

        flex-basis: $width;
        min-width: $width;
    }

    @else {
        flex-basis: 100%;
    }

    @if $end == true {
        [dir="ltr"] & {
            margin-right: 0;
            margin-left: auto;
        }

        [dir="rtl"] & {
            margin-right: auto;
            margin-left: 0;
        }
    }
}
