<html lang="en-gb" dir="ltr">

    <head>
        <link rel="stylesheet" href="/assets/styles/app.css"/>
        <title>Default</title>
    </head>

    <body>
        <dl>

    
        <dt>Last modified time</dt>
    

    
        <dd>2004-12-23T23:33Z</dd>
    

    
        <dt>Recommended update interval</dt>
    

    
        <dd>60s</dd>
    

    
        
            <dt>Authors<dt>
        
            <dt>Editors<dt>
        
    

    
        
            <dd>Robert Rothman<dd>
        
            <dd>Daniel Jackson<dd>
        
    

</dl>

    </body>

</html>

